.nav{
 background-color: cornsilk;
 border-radius: 8px;
}
.title{
    font-size: 30px;
    margin: 2px;
    text-align: center;
}
li{
    list-style: none;
    display: inline;
    padding-right: 5px;
    font-size: 25px;   
}
#display{
    display: inline;
    font-size: 30px;
    position: relative;
    top: 200px;
    right: 100px;
    left: 37%;
    background-color: darkcyan;
    padding: 15px;
    border-radius: 20px;
}
#btn{
    font-size: 20px;
    position: fixed;
    top: 430px;
    left: 47%;
    padding: 3px;
    
}
